body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Kanit", sans-serif;
}

header {
    border-bottom: solid 2px rgb(190, 10, 10);
    padding: 20px;
    font-size: 32px;
    color: rgb(190, 10, 10);
}

section {
    background: rgb(30, 10, 10);
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 3%;
}

h1 {
    font-size: 40px;
}

P {
    font-size: 20px;
}
